/* # GENERICS */

*{
    box-sizing: border-box;
    margin: 0 auto;
}


h1{
    margin: 40px 10px;
    text-align: center;
    font-size: larger;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #e4306f;
}

h3{
    font-size: 15px;
    text-align: justify;
    color: white;

}

p{
    width: 1000px;
    margin-top: 40px;
    margin-bottom: 50px;
    text-align: center;
}




/* # UTILITIES */

.container{
    width: 1000px;
    margin: 0 auto;
    padding: 0 15px 15px 15px;
}

.card-container{
    width: calc(100% / 3);
    float: left;
    padding: 2px 15px;
}

.card{
     height:80px;
     background-color:#0f0e17 ;
     
    
}

.clearfix{
    content: "";
    display: block;
    clear: both;
}

.f-left{
    float: left;
}

.f-right{
    float: right;
}

img{
    width: 80px;
}

small{
    font-size: small;
    color: white;
    margin-left: 16px;
}

.card-text{
    padding-top: 10px;
}

.card-text h3{
    margin-left: 20px;
}


a{
    margin:15px;
    color:#1da4e3 ;
    text-decoration: none;
}